  <div class="product-details">

      {{!--Header Section --}}
    <section>
        <h1>Beats Solo Wireless Headphones</h1>
        <div class="text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
        </div>

        {{!--Price Section --}}
    </section>
      <del class="small text-black-50">$199.95</del>
      <i class="text-danger font-weight-bold">$99.98</i>
    <section>

    </section>
  </div>

{{yield}}